@import 'font';
@import 'variables';
@import 'global';
@import 'components';
@import 'header';
@import 'headerInner';
@import 'footer';
@import 'filter';

.banner {
  &__area {
    margin-top: 1em;
  }
  &__area__title,
  &__img {
    display: none;
  }
}

.breadcrumbs {
  li:first-child {
    display: none;
  }
}

.item {
  margin-bottom: 1.5em;
}

.item-loader {
  width: 65%;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: var(--sectSpacer);
  .btn {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

progress {
  appearance: none;
  width: 100%;
  height: 2px;
  margin-top: .5em;
  margin-bottom: 2em;
  &::-webkit-progress-bar {
    background-color: var(--grey-lighter);
  }
  &::-webkit-progress-value {
    background-color: var(--dark);
  }
  &::-ms-fill {
    background-color: var(--dark);
  }
  &::-moz-progress-bar {
    box-shadow: 0 0 0 1px var(--dark);
  }
}

@media only screen and (min-width: 768px) {
  .banner {
    background-color: var(--grey);
    .wrapper.flex-container {
      flex-wrap: nowrap;
    }
    &__area {
      margin-top: 0;
    }
    &__area__title,
    &__img {
      display: block;
    }
  }
  
  .breadcrumbs {
    li:first-child {
      display: block;
    }
  }

  .banner__img-wrapper {
    position: relative;
    margin-right: 2em;
    z-index: 1;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 50%;
      z-index: -1;
    }
    &::before {
      height: 50%;
      background: repeating-linear-gradient(
        45deg, transparent, transparent 8px, #151C22 10px, #151C22 10px);
      transform: translate(-20%, 100%);
    }
    &::after {
      height: 66%;
      background: repeating-linear-gradient(
        45deg, transparent, transparent 10px, #151C22 12px, #151C22 12px);
      transform: translate(120%, -150%);
    }
  }

  .banner__area__title {
    width: 70%;
    margin-top: 1.3em;
    & > .item__link {
      font-family: 'WorkSans Bold';
      font-size: 1.75rem;
      word-break: break-all;
    }
  }

  .items.flex-container {
    align-items: flex-start;
  }

  .item {
    margin-bottom: 2.5em;
    &--large + .item {
      position: absolute;
      top: 73.45em;
    }
  }

  .item-loader {
    width: 30%;
    margin-top: .5em;
    margin-bottom: 5em;
    text-align: center;
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1366px) {
  .banner {
    .wrapper.flex-container {
      justify-content: center;
    }
  }

  .banner__img-wrapper {
    margin-right: 0;
  }

  .banner__area__title {
    & > .item__link {
      font-size: 2rem;
    }
  }

  .item {
    margin-bottom: 4em;
    &--large {
      flex-basis: 100%;
      margin-left: 54%;
    }
    &--large + .item {
      top: 51em;
    }
  }

  .item:nth-child(7) {
    position: absolute;
    top: 51em;
    right: 51.5em;
  }

  .item:nth-child(8) {
    position: absolute;
    top: 76em;
  }

  .item:nth-child(9) {
    position: absolute;
    top: 76em;
    right: 51.5em;
  }

  .item-loader {
    width: 20%;
    margin-top: 0;
    margin-bottom: 7.5em;
  }
}