#menu-button {
  display: none;
}

.menu--mobile {
  label {
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--dark);
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: var(--dark);
      transition: all var(--tranSpan) cubic-bezier(1, 0, 0, 1);
    }
    &::before {
      bottom: 4px;
      transform-origin: left top;
      transform: rotateZ(0deg);    
    }
    &::after {
      top: 4px;
      transform-origin: left bottom;
      transform: rotateZ(0deg);    
    }
  }
}

#menu-button ~ label {
  transition: all 200ms cubic-bezier(1, 0, 0, 1);
}

#menu-button:checked ~ label {
  background-color: transparent;
  &::before {
    width: 12px;
    transform: rotateZ(45deg);
  }
  &::after {
    width: 12px;
    transform: rotateZ(-45deg);
  }
}

.main-nav--header {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transform: translateY(1.5em);
  transition: opacity var(--tranSpan);
  &--opened {
    visibility: visible;
    height: auto;
    opacity: 1;
  }
}

.logo--header {
  margin: 0;
  margin-left: 15%;
}

.service-nav {
  position: static;
  transform: unset;
}

@media only screen and (min-width: 768px) {
  .menu--mobile {
    display: none;
  }

  .main-nav--header {
    position: static;
    height: auto;
    width: auto;
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  .logo--header {
    margin-left: 0;
    margin-right: 5em;
  }

  .service-nav {
    width: auto;
  }
}

@media only screen and (min-width: 1366px) {
  .main-nav--header ul,
  .service-nav ul {
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main-nav--header ul li + li {
    margin-top: 0;
    margin-left: 2em;
  }

  .service-nav ul li + li {
    margin-bottom: 0;
    margin-left: 2em;
  }
}