header {
  padding: .75em 0;
}

.logo {
  font-family: 'WorkSans ExtraBold';
  font-size: 1.5rem;
  &--header {
    margin: 0 auto;
  }
}

.main-nav--header, .service-nav {
  position: absolute;
  transform: translateY(3.5em);
}

.main-nav--header {
  width: 50%;
}

.service-nav {
  width: 20%;
  right: 5%;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 1em 0;
  }
  
  .main-nav--header {
    .social-nav();
  }

  .service-nav {
    ul {
      justify-content: flex-end;
      li + li {
        margin-left: 2.5em;
      }
    }
  }
}

@media only screen and (min-width: 1366px) {
  .main-nav--header {
    transform: translateY(9em);
    ul {
    flex-direction: column;
    align-items: flex-start;
      li + li {
        margin-left: 0;
        margin-top: 2em;
      }
    }
  }
  
  .service-nav {
    transform: translateY(7.5em);
    ul {
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 65%;
    right: 12%;
      li + li {
        margin-left: 0;
        margin-bottom: 2em;
      }
    }
  }
}