@import 'font';
@import 'variables';
@import 'global';
@import 'components';
@import 'header';
@import 'headerInner';
@import 'footer';

.slideshow__fullsize-slide {
  position: relative;
}

.full-img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.inactive {
  visibility: hidden;
  opacity: 0;
}

.prev-slide,
.next-slide {
  padding: 0;
  background-color: transparent;
}

.slideshow__thumbnail-slide {
  display: none;
}

.product{
  &__slideshow {
    padding: 1em 0 2.5em 0;
  }
  &__desc {
    padding: 2.2em 0 2.5em 0;
    background-color: var(--grey);
  }
  &__about {
    h2 {
      margin-bottom: 1em;
      font-size: 1.625rem;
    }
    p {
      font-size: .875rem;
    }
  }
  &__price {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    & > .item-price {
      font-size: 1.125rem;
    }
  }
}

fieldset {
  padding: 0;
  margin: 0;
  margin-top: 1.5em;
  border: none;
}

legend {
  padding: 0;
  padding-bottom: .8em;
  font-family: 'WorkSans Medium';
}

input[type=radio] {
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 1em;
  border-radius: 50%;
  &:last-child {
    margin-right: 0;
  }
  &[value=teal] {
    background-color: #B0C3C7;
    &:checked {
      box-shadow: 0 0 0 2px #fff,
                  0 0 0 3px #B0C3C7;
    }
  }
  &[value=blue] {
    background-color: #3B6392;
    &:checked {
      box-shadow: 0 0 0 2px #fff,
                  0 0 0 3px #3B6392;
    }
  }
  &[value=grey] {
    background-color: #BFC3C8;
    &:checked {
      box-shadow: 0 0 0 2px #fff,
                  0 0 0 3px #BFC3C8;
    }
  }
}

.size {
  input[type=checkbox] {
    display: none;
    & + label {
      margin-right: 1.5em;
      font-family: 'WorkSans Medium';
      font-size: .875rem;
      text-transform: uppercase;
      color: var(--grey-darker);
    }
    & + label:last-child {
      margin-right: 0;
    }
    &:checked + label {
      color: var(--dark);
    }
  }
}

input[type=submit] {
  padding: 1.5em 3.5em;
  font-family: 'WorkSans Bold';
  font-size: 1rem;
}

.item {
  margin-bottom: 1.5em;
  &:last-of-type,
  &:nth-last-of-type(2) {
    margin-bottom: 7em;
  }
}

.nav__link--section {
  transform: translate(-6em, 30em);
}

@media only screen and (min-width: 768px) {
  .product {
    display: flex;
    margin-top: 2.25em;
    &__slideshow {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 5%;
    }
    &__desc {
      margin-left: 2em;
      padding-right: 5%;
      padding-left: 3.125em;
      .wrapper {
        width: 100%;
      }
    }
    &__about {
      h2 {
        font-size: 1.75rem;
      }
    }
    &__price {
      margin-top: 2.25em;
      margin-bottom: 2.85em;
    }
  }

  fieldset {
    margin-top: 2.85em;
  }

  legend {
    font-size: 1.125rem;
  }

  .prev-slide,
  .next-slide {
    display: none;
  }

  .slideshow__thumbnail-slide {
    display: flex;
    width: 20.25em;
    margin-top: 1.375em;
  }

  .thumb-img{
    margin-bottom: 1.375em;
    &:first-child {
      display: none;
    }
    &:last-of-type,
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }

  .size {
    input[type=checkbox] {
      & + label {
        margin-right: 1em;
        font-size: 1.125rem;
      }
    }
  }

  input[type=radio] {
    margin-right: 1.5em;
    &:last-child {
      margin-right: 0;
    }
  }

  .section-desc {
    margin-bottom: 3.125em;
  }

  .item {
    margin-bottom: 2.85em;
    &:last-of-type,
    &:nth-last-of-type(2) {
      margin-bottom: 5.625em;
    }
  }

  .nav__link--section {
    transform: none;
  }
  
}